.App {
  text-align: center;
}

input{
  height: 40px;
  width: 40px;
  margin: 5px;
  font-size: 30px;
  font-weight: 20px;
  text-align: center;
}
input:focus{
   outline-color: blue;
}
button{
  height: 20px;
  width: 60px;
  text-align: center;
  font-weight: 20px;
  background-color: red;
  color: #fff;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.error{
  border: 1px solid red;
}
